
*

{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
header 
.title
{
    color: #fff;
    float: left;
}
body
{
    background-image: linear-gradient(#ffffff, #8fcec6);
    background-size: cover;
    font-family: sans-serif;
    }
.menu-bar
{
    background: rgb(40, 82, 77);
    text-align: left;
}
.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li
{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a
{
    text-decoration: none;
    color: #fff;
}
.active, .menu-bar ul li:hover
{
    background: #0eebbb;
    border-radius: 3px;
}
.sub-menu-1
{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background: #0eebbb;
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
    display: block;
    margin: 10px;

}
.menu-bar ul li:hover .sub-menu-1 ul li
{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent; 
    border-radius: left;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
    color: #000000;
}
main 

footer {
    width: 100%;
    clear: right;
}
.fa-brands {
    padding: 2px;
    font-size: 22px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    position: sticky;
}

.fa-github-square {
background-color: blue;
color: white;

}

